.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.money-manager-container {
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
}

.input-section-container {
}

.add-transaction-container {
  display: flex;
  flex-direction: column;
}

.add-transaction-heading {
}
.title {
}
.amount {
}

.history-container {
}

.history-main-heading {
}

.section-bar {
  display: flex;
}
.bar-heading {
}

.transaction-container {
}
